html {
    
    height: 100%;
    min-height: 100%;

}
body {
    
    height: 100%;
    margin: 0;
    background-color: #c2c2c2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#container {

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#calculadora {

    background-color: rgb(228, 228, 228);
    padding: 20px;
    padding-bottom: 10px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 1px 8px rgb(165, 165, 165);
}

#resultado {

    width: 100%;
    box-sizing: border-box;
    text-align: right;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 15px 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    letter-spacing: 1px;
    
}

.linha_left {

    float: left;
    width: 222.5px;

}

.linha_right {

    float: right;

}

.botao {

    background-color: #afafaf;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    margin-right: 5px;
    width: 67.5px;
    height: 60px;
    padding: 0px;
    margin-bottom: 10px;
    color: #ffffff;
    box-shadow: 0px 5px #979797;
    transition: 0.3s;

}

.botao:focus {

    border: none;
    outline: none;

}

.botao:hover {

    background-color: #808080;

}

.botao:active {

    transform: translateY(5px);
    box-shadow: none;

}

.margemf {

    margin-right: 0px;
    
}

.clear {

    width: 145px;

}

.igual {

    height: 130px;

}

